# Default don't track git
/*

# Git code, figures, etc.
!.gitignore
!/code/
!/data/meta/
!/doc/

/code/.nextflow
/code/.nextflow.*
/code/*/work
/code/*/.nextflow.*
/code/*/.nextflow/
*.nextflow*
*.tsv
*.fa
*.fasta
*.fa.gz
*.fasta.gz
*.bed
*.log
*.err
*.out

**/logs
**/null

.vscode/
**/.DS_Store
.Rproj.user


# specific files for this project
/code/nf_genome_assembly/test_nf/
/code/nf_genome_assembly/test_results/

