process {
    withName: '.*:HIFIASM' {
        // 1. Force the resource request
        cpus = 8
        memory = '20.GB'
	time = '1h'
        
        // 2. The "Spread" Strategy for Slurm
        // --nodes=1            : Ensure all cores are on the same physical server
        // --ntasks-per-node=2  : Request 2 "slots" (one per socket)
        // --cpus-per-task=4   : Assign 4 cores to each slot
        clusterOptions = '--constraint=rome --nodes=1 --ntasks-per-node=2 --cpus-per-task=4'

	// BIND MOUNT HACK:
        // -B /path/on/host maps the file into the container
        containerOptions = "-B /usr/bin/numactl -B /lib64/libnuma.so.1"
    }
}
